[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pylint = "*"
flask = "*"
opencv-python-headless = "*"
tensorflow = "*"
numpy = "*"
python-dotenv = "*"
requests = "*"
pymongo = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
mongomock = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.11"
